<h2> About Us </h2>

<h4>Objective</h4> 

<h5>To create a web platform which crowd-sources commentaries of statutes and curates a healthy, balanced, constructive discourse about the written laws in Singapore, making it universally understood and accessible, such that everyone can:</h5> 

<h5>1)	easily be exposed to the competing objectives behind each clause of statute law, as expressed by both the government and academic commentators</h5> 

<h5>2)	contribute their perspectives and relevant experiences while upvoting views which resonate with them<h5>

<h5>so that our representatives in Parliament can create written laws truly representative of the people having heard all views, and move towards establishing Singapore as a thought leader of the law. </h5>
